html, body {
    min-height: 100%;
    font-family:verdana;
    font-size:100%;
}

body { background-color: #6B9797;
 }


 #pi{
  background-color:#FBFBF8;
  color: tomato;
}

#div1{
    background-color:#FBFBF8;
    display:inline-block; 
    text-align:left; 
    width:80%; 
    margin-left:200px;  
    max-width:1800px;
    height: 300%; 
    padding: 10px;
}

#div2{
  background-color:#FBFBF8;
  display:inline-block; 
  text-align:left; 
  width:90%; 
  margin-left:20px;  
  max-width:1600px;
  height: 180px; 
  padding: 5px;
}

#div3{
  background-color:#FBFBF8;
  display:inline-block; 
  text-align:left; 
  width:90%; 
  margin-left:10px;  
  max-width:1600px;
  /*height: 180px;*/ 
  padding: 0px;
}

/* 
https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp
*/
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 190px; /* Set the width of the sidebar */
    margin-left:5px; 
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    /*background-color: #111; /* Black */
    color: #fafafa;
    overflow-x: hidden; /* Disable horizontal scroll */
    font-size:26px;
    padding: 10px;
    padding-top: 60px;
    
  }


/*
Colors of hyperlinks
https://www.w3schools.com/html/html_links_colors.asp
*/
  a:link {
    color: #9CA39C;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #9CA39C;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #9CA39C;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }



  a.buttonB {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    /*color: green; */
    /*background-color: orange;*/
    text-decoration: none;
}